{% extends 'base.html.twig' %}

{% block body %}
    <!-- Jumbotron Header -->
    <header class="jumbotron hero-spacer fixed-bg">
        <div class="container text-center white">
            <h1>Prédator Vs Darkvador</h1>
            <p>Ci dessous, voici le combat effréné du Prédator vs Dark Vador, pour voir qui va gagner il suffit de scroller en bas de la page</br> ou simplement appuyer sur le boutton ci dessous</p>
            <p><a class="btn btn-primary btn-large" href="#gagnant">JE VEUX VOIR LE GAGNANT</a>
            </p>
        </div>
    </header>
{% endblock %}


